*
{
    margin: 0;
    padding: 0;
}


.cabecalho
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    text-align: center;
}
a
{
   
    text-decoration: none;
    color: #635959;
    padding: 0 10px;
}

body
{
    background-image: url(img/Fundo\ loja.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.foto
{
    margin: 50px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    width: 150px;
}

main
{
    display: flex;
    align-items:center;
}

.catalogo
{
    margin: 30px 100px;
}